.gallery-container {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, auto);
    justify-content: space-around;
}

.button-container {
    display: flex;
    padding: 2rem;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 1200px) {
    .gallery-container {
        grid-template-columns: repeat(2, auto);
    }
}
@media only screen and (max-width: 680px) {
    .gallery-container{
        grid-template-columns: repeat(1, auto);
    }
}